# ==========================================
# PYTHON
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# ==========================================
# VIRTUAL ENVIRONMENTS
# ==========================================
venv/
env/
ENV/
.venv/

# ==========================================
# JUPYTER
# ==========================================
.ipynb_checkpoints/

# ==========================================
# STREAMLIT
# ==========================================
.streamlit/secrets.toml

# ==========================================
# VS CODE
# ==========================================
.vscode/
.history/

# ==========================================
# OPERATING SYSTEM FILES
# ==========================================
.DS_Store
Thumbs.db
desktop.ini

# ==========================================
# LOG FILES
# ==========================================
*.log

# ==========================================
# LARGE DATASETS (DO NOT PUSH)
# ==========================================
data/processed/financial_fraud_encoded.csv
data/processed/financial_fraud_feature_engineered.csv
data/processed/fraud_detection_cleaned.csv
data/processed/fraud_loaded.csv
data/processed/train_smote.csv

# ==========================================
# LARGE MODELS (DO NOT PUSH)
# ==========================================
models/random_forest.pkl
models/ensemble_model.pkl

# ==========================================
# TEMP FILES
# ==========================================
*.tmp
*.temp

# ==========================================
# CACHE
# ==========================================
.cache/
.pytest_cache/
.mypy_cache/

# ==========================================
# BUILD FILES
# ==========================================
build/
dist/
*.egg-info/

# ==========================================
# NOTEBOOK OUTPUTS
# ==========================================
*.nbconvert.ipynb